.navigation {
	display: flex;
	justify-content: flex-end;
	width: 100%;
}
.nav_option {
	text-decoration: none;
	color: black;
	display: inline-block;
	margin: 10px;
}

.nav_option_dark {
	color: #82ca9d;
}

.nav_option:hover {
	cursor: pointer;
	text-decoration: underline;
}
