.navigation {
	display: flex;
	justify-content: flex-end;
	width: 100%;
}
h2 {
	text-decoration: none;
	color: black;
	display: inline-block;
	margin: 10px;
}

.h2_dark {
	color: #82ca9d;
}

h2:hover {
	cursor: pointer;
	text-decoration: underline;
}
