.main_weather {
	display: flex;
	height: 400px;
	flex-wrap: wrap;
	justify-content: space-evenly;
	align-items: baseline;
}

@media only screen and (max-width: 600px) {
	.main_weather {
		margin-top: 10vh;
		height: 700px;
		justify-content: center;

		align-items: center;
	}
}
