body {
	margin: 0;
	font-family: 'Roboto', sans-serif;
}

.app {
	width: 100vw;
	height: 100vh;
	position: absolute;
}
.app_light {
	background: linear-gradient(to bottom, #3987c9 0%, #e1e5ed 100%);
}
.app_dark {
	background: linear-gradient(to bottom, #171c21 0%, #000000 100%);
}
.app_body {
	display: flex;
	justify-content: center;
	align-items: center;
}
/* @media only screen and (max-width: 600px) {
	.app {
	}
} */
